{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>{{ post.title }}</h1>
  <h2>Written by: {{ post.author.username }}</h2>
  <h3>Cooking Time: {{ post.cooking_time }} minutes</h3>
  <p>{{ recipe.instructions }}</p>

  {% if recipe.author == current_user %}
  <div>
    <a href="{{ url_for('recipe.update', recipe_id=recipe.id) }}">Update</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#del_modal">Delete</button>
  </div>
  {% endif %}
</div>

<div class="modal" tabindex="-1" role="dialog" id="del_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Recipe?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the recipe?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{ url_for('recipe.delete_recipe', recipe_id=recipe.id) }}" method="post">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
